.menuP ul {
    padding: 0;
    margin:0;
    padding-right: 100px;
    list-style: none;
    text-align: center;
}

.menuP li {
    display: inline-block;
    position: relative;
    border-radius: 8px 8px 0 0;
}

.menuP ul li {
    display: inherit;
    border-radius: 0;
    
}

.menuP ul li:hover {
    border-radius: 0;
}

.menuP ul li:last-child {
    border-radius: 0 0 8px 8px;
}

.menuP ul {
    position: absolute;
    z-index: 1000;
    max-height: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    -moz-transition: .8s all .3s;
    -webkit-transition: .8s all .3s;
    transition: .8s all .3s;
    
}

.menuP li:hover ul {
    max-height: 15em;
    border-radius: 10px;
}


/* background des liens menus */

.menuP li {
    background: url(../images/menu-square-button.png) no-repeat;
    background-size: 50px 50px;
    background-position: right;
    width: 150px;
    height: 50px;
}


/* background des liens sous menus */

.menuP li li {
    background: rgba(255, 255, 255, 0.9);
    height: 35px;
    
}
/* background des liens menus et sous menus au survol */

.menuP li:hover {
    border-radius: 10px;
}


/* les a href */

.menuP ul li:first-child {
    padding-top: 10px;
}

.menuP li:hover li {
    color: black;
    font-weight: bold;
}

.menuP li li:hover {
    color: crimson;
    font-weight: bold;
}
.under{
    text-decoration: underline;
}