html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}


/* Header */

header {
    background-color: rgba(28, 28, 28, 1);
    display: block;
    width: 100%;
}

.nom {
    display: inline-block;
    color: aliceblue;
    font-size: 150%;
    font-family: sans-serif;
    padding-left: 15%
}

.menu {
    list-style-type: none;
    color: aliceblue;
    display: inline-block;
    text-align: left;
    padding-right: 10%
}

.menu li {
    display: inline-block;
    text-align: center;
    padding: 14px 14px;
    font-family: sans-serif;
    text-decoration: none;
    color: white;
    height: auto;
    width: auto;
}

.menu li:hover {
    color: crimson;
    cursor: pointer;
    transition: all 0.9s ease;
}

.containerN {
    display: inline-block;
    width: 20%;
}

.containerM {
    display: inline-block;
    width: 79%;
    text-align: right;
}


/* Section */

.pt-page-1 {
    display: inline-block;
    width: 100%;
    height: 100vh;
    background: url(../images/header6.jpg);
    background-size: 100% 100%;
    margin: auto;
}

section {
    height: 100%;
}

#mob {
    background: url(../images/tele.png) no-repeat;
    background-size: 100% 100%;
    width: 55%;
    height: 60%;
    display: inline-flex;
    margin: auto;
    vertical-align: top;
    margin-top: 6%
}

#mob2 {
    width: 97%;
    height: 95%;
    margin: auto;
}

.swiper-container {
    width: 100%;
    height: 100%;
    background: #000;
}

.swiper-slide {
    font-size: 18px;
    color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 60px;
}

.swiper-slide .subtitle {
    font-size: 21px;
}

.swiper-slide .text {
    font-size: 14px;
    max-width: 400px;
    line-height: 1.3;
}

#projet1 {
    background: url(../images/projet1.png) no-repeat;
    background-size: 100% 100%;
}

#projet2 {
    background: url(../images/projet2.png) no-repeat;
    background-size: 100% 100%;
}

#projet3 {
    background: url(../images/projet3.png) no-repeat;
    background-size: 100% 100%;
}

#project {
    height: 60%;
    width: 28%;
    display: inline-block;
    margin: auto;
    text-align: left;
    padding-right: 1%;
    margin-top: 6%;
    margin-left: 1%;
}

#project2 {
    height: 50%;
    width: auto;
    background-color: rgba(255, 255, 255, 0.7);
    float: right;
    border: 5px solid black;
    padding: 10px;
}

h2 {
    text-decoration: none;
    font-size: 1.5em;
}

p {
    font-size: 1.2em;
    font-family: sans-serif;
    font-weight: bold;
}

.suite {
    background: url(../images/button.png)no-repeat;
    background-size: 100% 100%;
    width: 50px;
    height: 25px;
    float: right;
    display: inline-block;
}

.suite:hover {
    background: url(../images/button1.png)no-repeat;
    background-size: 100% 100%;
    width: 50px;
    height: 25px;
    float: right;
    display: inline-block;
    transition: all 0.9s ease;
}


/* CV */

#cv {
    height: 100vh;
    background: url(../images/cvback.jpg) no-repeat;
    background-size: 100% 100%;
    padding: 0;
    margin: 0;
}

#bio {
    height: 45%;
    width: 70%;
    background-color: rgba(255, 255, 255, 0.7);
    margin: auto;
    margin-top: 5%;
    border: 5px solid black;
}

#photo {
    height: 70%;
    width: 25%;
    display: inline-block;
    margin: auto;
    background: url(../images/moi.jpg) no-repeat;
    background-size: 100% 100%;
    margin: 2% 2%;
    border: 5px solid black;
    opacity: 1;
}

#apropos {
    height: 100%;
    width: 68%;
    display: inline-block;
    vertical-align: top;
    margin: auto;
    opacity: 1;
}

#cv h2 {
    border-bottom: 1px solid black;
    width: 90%;
    margin: auto;
    padding-left: 3%;
    height: 8%;
    padding-top: 4%
}
#bio a{
    color: black;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: underline;
    float: right;
}
#bio a:hover{
    color:crimson;
    font-size: 1.2em;
}

/* Compétences */

#comp {
    height: 100vh;
    background: url(../images/cubes.png) repeat;
    background-size: auto auto;
    padding: 0;
    margin: 0;
}

#comp h2 {
    padding: 0;
    margin: 0;
}

#tskills {
    font-size: 200%;
    display: inline-block;
    width: 100%;
    margin: auto;
    width: auto;
    height: 40px;
    text-decoration: underline;
}

.get {
    display: none;
}

#diagram {
    width: 50%;
    height: 100%;
    display: inline-block;
    float: left;
}

.get2 {
    display: none;
}

#diagram2 {
    width: 50%;
    height: 100%;
    display: inline-block;
    float: left;
}

.legend {
    float: left;
    width: 50%;
    margin: 0;
    display: inline-block;
}

.skills {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
}

.skills ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.skills li {
    float: left;
    clear: both;
    padding: 0 15px;
    height: 35px;
    line-height: 35px;
    color: #fff;
    margin-bottom: 1px;
    font-size: 18px;
}

.skills .jq {
    background: #97BE0D;
}

.skills .css {
    background: #D84F5F;
}

.skills .html {
    background: #88B8E6;
}

.skills .node {
    background: #BEDBE9;
}

.legend2 {
    float: left;
    width: 50%;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.skills2 {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
}

.skills2 ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.skills2 li {
    float: left;
    clear: both;
    padding: 0 15px;
    height: 35px;
    line-height: 35px;
    color: #fff;
    margin-bottom: 1px;
    font-size: 18px;
}

.skills2 .java {
    background: #97BE0D;
}

.skills2 .c1 {
    background: #D84F5F;
}

.skills2 .c {
    background: #88B8E6;
}

.skills2 .sql {
    background: #BEDBE9;
}

#acc {
    border-bottom: 2px solid white;
}

#acc:hover {
    border-bottom: 2px solid crimson;
}

#apro {
    border-bottom: 2px solid white;
}

#apro:hover {
    border-bottom: 2px solid crimson;
}

#com {
    border-bottom: 2px solid white;
}

#com:hover {
    border-bottom: 2px solid crimson;
}

#port {
    border-bottom: 2px solid white;
}

#port:hover {
    border-bottom: 2px solid crimson;
}

#con {
    border-bottom: 2px solid white;
}

#con:hover {
    border-bottom: 2px solid crimson;
}


/* Portfolio */

#portfolio {
    height: 100%;
    width: 100%;
    background: url("../images/WDF_2523125.jpg");
    background-size: 100% 100%;
}

#totProjet {
    height: 100%;
    width: 100%;
    margin: auto;
    text-align: center;
}

#portProjet {
    height: 25%;
    width: 25%;
    background: url(../images/projet1.png) no-repeat;
    background-size: 100% 100%;
    border: 3px solid black;
    margin: 1%;
    display: inline-flex;
}
#portProjet:hover{
    background: url(../images/projet1h.png) no-repeat;
    background-size: 100% 100%;
}

#portProjet a {
    height: 100%;
    width: 100%;
    display: inline-block;
}

#portProjet1 {
    height: 25%;
    width: 25%;
    background: url(../images/projet2.png) no-repeat;
    background-size: 100% 100%;
    border: 3px solid black;
    margin: 1%;
    display: inline-flex;
}

#portProjet1:hover{
    background: url(../images/projet2h.png) no-repeat;
    background-size: 100% 100%;
}

#portProjet1 a {
    height: 100%;
    width: 100%;
    display: inline-block;
}

#portProjet2 {
    height: 25%;
    width: 25%;
    background: url(../images/projet3.png) no-repeat;
    background-size: 100% 100%;
    border: 3px solid black;
    margin: 1%;
    display: inline-flex;
}

#portProjet2:hover{
    background: url(../images/projet3h.png) no-repeat;
    background-size: 100% 100%;
}

#portProjet2 a {
    height: 100%;
    width: 100%;
    display: inline-block;
}

#textProjet {
    height: 35%;
    width: 25%;
    display: inline-flex;
    background-color: rgba(255, 255, 255, 0.7);
    margin: 1%;
    border: 3px solid black;
    vertical-align: top;
}

#textProjet p {
    padding: 5%;
    color: black;
}

#textProjet1 {
    height: 35%;
    width: 25%;
    display: inline-flex;
    background-color: rgba(255, 255, 255, 0.7);
    margin: 1%;
    border: 3px solid black;
    vertical-align: top;
}

#textProjet1 p {
    padding: 5%;
    color: black;
}

#textProjet2 {
    height: 35%;
    width: 25%;
    display: inline-flex;
    background-color: rgba(255, 255, 255, 0.7);
    margin: 1%;
    border: 3px solid black;
    vertical-align: top;
}

#textProjet2 p {
    padding: 5%;
    color: black;
}

#contact2 {
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 5%;
    text-align: center;
}

#formContact {
    width: 40vw;
    display: inline-block;
}

form {
    display: block;
    margin: 1%;
    margin: auto;
    text-align: center;
}

form button img {
    height: 30px;
}

form input {
    margin: 1%;
    width: 39.8vw;
    height: 25px;
    border: solid 1px #0084b4;
    border-radius: 4px;
}

form textarea {
    margin: 1%;
    width: 39.7vw;
    height: 80px;
    border: solid 1px #0084b4;
    border-radius: 4px;
    resize: none;
}

form button {
    background-color: rgb(0, 172, 237);
    height: 55px;
    width: 40vw;
    border-radius: 4px;
    border: solid 1px #0084b4;
    margin: 1%
}

form button:hover {
    background-color: rgb(0, 132, 180);
    transition: all 0.9s ease;
}

#contact {
    height: 100%;
    width: 100%;
    background: url("../images/flat-geometric-wallpaper.jpg") no-repeat;
    background-size: 100% 100%;
}

#contact h2 {
    color: white;
    text-align: left;
    margin: 1%;
}


/* Media Queries */

@media (max-height: 850px),
(max-width: 1024px) {
    #diagram {
        display: none;
    }
    #diagram2 {
        display: none;
    }
    .legend2,
    .legend {
        display: block;
        width: 100%;
    }
    .legend2 {
        margin-top: 25px;
    }
}

@media (max-width: 775px) {
    .containerM {
        display: none;
    }
    .containerN {
        margin: 10px;
        width: 80px;
    }
    .menuP {
        display: inline-block;
        float: right;
        margin: 10px;
    }
    header {
        height: 70px;
    }
    #mob {
        float: right;
        margin-right: 5%;
    }
    #project {
        margin-left: 3%;
        height: 100%;
        font-size: 0.8em;
        width: 35%;
    }
    #bio {
        height: 70%;
        text-align: center;
        width: 90%;
    }
    #photo {
        height: 25%;
        width: 30%;
    }
    #apropos {
        width: 90%;
        font-size: 0.7em;
    }
    #apropos h2 {
        height: 5%;
    }
    #portProjet,
    #portProjet1,
    #portProjet2 {
        width: 28%;
    }
    #textProjet,
    #textProjet1,
    #textProjet2 {
        width: 28%;
        font-size: 0.6em;
        height: 45%;
    }
}

@media (min-width: 775px) {
    .menuP {
        display: none;
    }
}


/* I8 */

#i8{
    background-color: white;
    height: 1000px;
}
#header {
    background-color: black;
    display: block;
    width: 100%;
    height: 75px;
    vertical-align: middle;
}
#totProjeti{
    width: 100%;
    height: 75%;
    margin: auto;
    text-align: center;
}
#portProjeti{
    height: 262px;
    width: 25%;
    background: url(../images/projet1-ie8.png) no-repeat;
    background-size: 100% 100%;
    border: 3px solid black;
    margin: 1%;
    display: inline-block;
}
#portProjeti1{
    height: 262px;
    width: 25%;
    background: url(../images/projet2-ie8.png) no-repeat;
    background-size: 100% 100%;
    border: 3px solid black;
    margin: 1%;
    display: inline-block;
}
#portProjeti2{
    height: 262px;
    width: 25%;
    background: url(../images/projet3-ie8.png) no-repeat;
    background-size: 100% 100%;
    border: 3px solid black;
    margin: 1%;
    display: inline-block;
}
#textProjeti{
    height: 262px;
    width: 25%;
    display: inline-block;
    background-color: white;
    margin: 1%;
    border: 3px solid black;
    vertical-align: top;
}
#textProjeti1{
    height: 262px;
    width: 25%;
    display: inline-block;
    background-color: white;
    margin: 1%;
    border: 3px solid black;
    vertical-align: top;
}
#textProjeti2{
    height: 262px;
    width: 25%;
    display: inline-block;
    background-color: white;
    margin: 1%;
    border: 3px solid black;
    vertical-align: top;
}
#contacti2{
    width: 100%;
    height: auto;
    text-align: center;
    padding-top: 5%;
    text-align: center;
    display: block;
    vertical-align: top;
}
.inom{
     display: inline-block;
    color: aliceblue;
    font-size: 200%;
    font-family: sans-serif;
    padding-left: 15%;
    vertical-align: middle;
    margin-top: 20px;
}